
# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Firebase
android/app/google-services.json

# Others
.idea/
.vscode/
*.iml
*.log
